@page "/RoleAccesses"
@attribute [Authorize(Policy = RbacConstants.AuthenticationSchema)]

<PageTitle>Role Access</PageTitle>

<RadzenStack>

    <RadzenRow AlignItems="AlignItems.Center">

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Role Access" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>

    </RadzenRow>

    <RadzenRow AlignItems="AlignItems.Center">

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" Gap="10px" Style="width: 100%">
                <RadzenTextBox Placeholder="Search ..." style="display: block;" @oninput="@Search" aria-label="Search by all string columns" />
                @if (SelectedRole != null)
                {
                    <RadzenDropDownDataGrid Data="@RolesList" TextProperty="RoleName" ValueProperty="Id" AllowClear=false
                                            Placeholder="Choose role" style="display: block; width: 35%" @bind-Value="@SelectedRoleId" Name="RoleName"
                                            SelectedValue=@SelectedRole Count=@RoleCount LoadData=@LoadRolesData
                                            Change="LoadAccessData" />
                }
            </RadzenStack>
        </RadzenColumn>

        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Disabled="@(SelectedRole == null)" Text="Add Access " Click="@AddRow" Variant="Variant.Text" ButtonStyle="ButtonStyle.Primary" />
                <RadzenButton Icon="cached" Text="Refresh" Click="@RefreshGrid" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>

        <RadzenColumn SizeMD=12>

            <RadzenDataGrid @ref="AccessGrid" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PagerHorizontalAlign="HorizontalAlign.Left"
                            PageSizeOptions=@(new int[]{10, 20, 50, 100}) Data="@FilteredItems"
                            Count="@Count" TItem="RoleAccess" IsLoading=@IsLoading>

                <Columns>

                    <RadzenDataGridColumn TItem="RoleAccess" Property="Role.RoleName" Title="Role Name"></RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="RoleAccess" Property="Access.AccessName" Title="Access Name"></RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="RoleAccess" Property="Access.OptionsetMaster.Name" Title="Access Type"></RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="RoleAccess" Property="IsOverwrite" Title="Is Overwrite">
                        <Template Context="data">
                            <RadzenSwitch Disabled=true Value=@((data as RoleAccess).IsOverwrite) />
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="RoleAccess" Property="CreatedOn" Title="Created On">
                        <Template Context="data">
                            @((data as RoleAccess).CreatedOn.ToString("dd/MM/yyyy hh:mm tt"))
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="RoleAccess" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                        <Template Context="roleaccess">
                            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="edit" Size="ButtonSize.Medium"
                                          Shade="Shade.Default" Variant="Variant.Text"
                                          Click=@(args => EditRow(roleaccess)) @onclick:stopPropagation="true" />

                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                          Shade="Shade.Default" Variant="Variant.Text"
                                          Click=@(args => DeleteRow(args, roleaccess)) @onclick:stopPropagation="true" />
                        </Template>
                    </RadzenDataGridColumn>

                </Columns>

                <EmptyTemplate>
                    <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
                </EmptyTemplate>

            </RadzenDataGrid>

        </RadzenColumn>

    </RadzenRow>

</RadzenStack>